html
    head
    title darrenhurley.co.uk
    body
        h2 Things
        ul
            li
                a(href='/api/slow?wait=5000') return (javascript) after some time
            li
                p seen/read #[a(href='/pages/seen-read/2017.html') 2017], #[a(href='/pages/seen-read/2018.html') 2018], #[a(href='/pages/seen-read/2019.html') 2019]
            li
                a(href='https://github.com/ironsidevsquincy/cv/blob/master/cv.md') me

