html
    head
    title!= title
    link(rel='stylesheet' href='/css/main.css')
    body
        ol.photos
            each photo in photos
                li.photos__photo
                    img.photos__photo_picture(src=photo.url, width=photo.width, height=photo.height)
        script(src='/js/main.js')
